.sidebar-btn{
	float: right;
	background-color: transparent;
	border: none;
}
ul{
	list-style-type: none;
}
#collapse-menu{
	padding-left: 10px !important;
	li{
		padding-left: 10px;
		border-bottom: none;
	}
}
.widget{
	margin-bottom: 30px;
	a{
		text-decoration: none;
	}
	.widget-heading{
		background-color: $blue;
		height: 40px;
		padding: 10px;
		h4{
			color: #fff;
		}
	}
	.people{
		background-color: #eee;
		padding: 5px;
		.link-people{
			.panel-people{
				background-color: #fff;
				display: flex;
				transition: all 0.3s;
				&:hover{
					background-color: #eee;
				}
				&:last-child{
					margin-bottom: 0;
				}
				.avatar-img{
					border: 2px solid #fff;
					border-radius: 50%;
					width: 25%;
					overflow: hidden;
				}
				.info{
					margin-left: 5px;
					p{
						margin: 0;
					}
					.name{
						font-weight: bold;
						color: #000;
					}
				}
				.light{
					color: $blue;
					position: absolute;
					right: 25px;
					margin-top: 20px;
				}
				&.offline{
					.light{
						color: #777;
					}
				}
			}
		}
	}
	&.profile{
		.heading{
			background-color: $blue;
			height:  80px;
			margin-bottom: 0;
			display: flex;
			justify-content:center;
			position: relative;
			.avatar-img{
				border: 3px solid #fff;
				width: 40%;
				border-radius: 50%;
				overflow: hidden;
				position: absolute;
				bottom: -45px;
				transition: all 0.2s;
				&:hover{
					transform: scale(1.1);
				}
			}
		}
		.body{
			text-align: center;
			padding: 45px 0;
			background-color: #eee;
			.user-name{
				color: #000;
				font-weight: bold;
			}
			.posting{
				margin-top: 15px;
				p{
					margin: 0;
					font-weight: bold;
				}
				.count{
					color: $blue;
					font-weight: bold;
					font-size: 20px;
				}
			}
		}
		.footer{
			background-color: $yellow;
			padding: 0;
			button{
				background-color: $yellow;
				border:none;
				text-align: center;
				width: 100%;
				font-weight: bold;
				color: $blue;
				height: 50px;
				cursor: pointer;
				transition: 0.5s;
				&:hover{
					background-color: $yellow +30;
				}
			}
		}
	}
}