.header{
	background-image: $linear;
	i{
		color: #fff;
	}
	.text-default{
		color: #fff !important;
	}
	 .text-muted{
		color: #fff !important;
	}
	.btn-sidebar{
		background-color: transparent;
		border-radius: 0;
		border:none;
		&:active{
			outline: none;
		}
		&:focus{
			outline: none;
		}
	}
}